body{
    margin: 0em;
}
header{
    color: lightseagreen;
    align-items: center;
}
nav{
    background-color: lightgreen;
    padding: 10px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}